# Idea
.idea/

# Mac OS
*.DS_Store

# Ignore data file
*.csv

# Python Cache
*.pyc

src/data/
src/server/mysite/spam/model/weights
src/server/mysite/spam/model/weights_lstm
out/

# weights too large to push to github
src/server/mysite/weights
src/server/mysite/weights_lstm
src/server/mysite/spam/model/gmail/weights
src/server/mysite/spam/model/gmail/weights_lstm

# ignore credentials
src/*.json
