# Idea
.idea/

# Mac OS
*.DS_Store

# Ignore data file
*.csv

# Python Cache
*.pyc

src/server/smsdata/*/*.txt
src/server/mysite/spam/model/weights
src/server/mysite/spam/model/weights_lstm
out/

# ignore credentials
src/*.json
