# Idea
.idea/

# Mac OS
*.DS_Store

# Ignore data file
src/*/*/*/*.csv

# Python Cache
*.pyc

src/data/
out/

# Emails
# weights too large to push to github
src/server/mysite/weights
src/server/mysite/weights_lstm
src/server/mysite/spam/model/gmail/weights
src/server/mysite/spam/model/gmail/weights_lstm
src/server/mysite/spam/model/gmail/weights_lr

# features
src/server/mysite/spam/model/gmail/features
src/server/mysite/spam/model/gmail/featuresLR

# ignore credentials
src/*.json

# Pre-trained Weights
src/server/mysite/spam/model/gmail/pre_trained_128
src/server/mysite/spam/model/gmail/pre_trained_256
src/server/mysite/spam/model/gmail/pre_trained_512
src/server/mysite/spam/model/gmail/pre_trained_lr

# Youtube comments
# features
src/server/mysite/spam/model/youtube/features

# weights
src/server/mysite/spam/model/youtube/weights_lstm

# Pre-trained
src/server/mysite/spam/model/youtube/trained_large
src/server/mysite/spam/model/youtube/trained_medium
src/server/mysite/spam/model/youtube/trained_small

# TF Tutorial Models
src/models

